<div ng-controller="commonController">


    <div class="container-fluid">

        <div class=" page page-header">

            <h1> Статистика </h1> <span class="total-sum"><b>Total: {{total}}</b></span>
        </div>
        <div class="panel" ng-model="">


            <div align="right"></div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Предмет</th>
                    <th>Цена</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in event_space ">
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>

                    <!--<td><input type="checkbox" ng-model="item.done" /></td>-->
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>